manifest {
    description = 'Downloads proteome fasta from uniprot and preps it TPP analysis'
    author = 'Patrick Pedrioli'
}

params {
    up_id = 'UP000005640'
    reviewed = 'yes'
    decoy = 'DECOY_'
}

docker {
    container = 'digitalproteomes/tpp-dev'
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u)'
}
