manifest {
    description = 'Downloads proteome fasta from uniprot and preps it TPP analysis'
    author = 'Patrick Pedrioli'
}

params {
    up_id = 'UP000005640'
    reviewed = 'yes'
    decoy = 'DECOY_'
}

process.container = 'digitalproteomes/tpp-dev'

docker {
    enabled = true
    sudo = true
    runOptions = '-u $(id -u):$(id -g)'
}
