manifest {
    description = 'Downloads proteome fasta from uniprot and preps it TPP analysis'
    author = 'Patrick Pedrioli'
}

params {
    remote = true	// Whether to download database
    up_id = 'UP000005640'	// Only applies to remote true
    decoy_prefix = 'DECOY_'	// Set to false to skip decoy generation
    local_database = 'Data/Databases/human_upsp_202201_std_cont.fasta'	// Only applies to remote false
}

process.cache = 'lenient'
process.container = 'digitalproteomes/tpp-dev'

docker {
    enabled = true
    sudo = true
    runOptions = '-u $(id -u):$(id -g)'
}

dag {
    enabled = true
    file = 'prepareProteinDB_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'prepareProteinDB_report.html'
    overwrite = true
}
